/*
@font-face {
    font-family: fontAwesome;
    src: url(../fonts/fontawesome-webfornt.svg);
}
*/

/*************** Header styling ****************/
body {
    margin: 0;
    padding: 0;
}

.header-signin-bg {
    background-color: #33af57;
    padding-top: .625rem;
    padding-bottom: .625rem;    
    min-height: 3rem;
}

.darkGreen {
    background-color: #1a4212;
}

.header-main-bg {
    background-color: #1a4212;
/*    min-height: 12.5rem;*/
}
.orange-accent-bg {
    background-color: #e25e12;
    min-height: .5em; 
}
.position-left {
   text-align: left; 
}
.position-right {
    text-align: right;
}
.position-center {
    text-align: center; 
}

/* Header Padding */
.element-padding {
        padding-top: 5%;
    }


header .logo-padding {
    padding-top: 1rem;
}

header span {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}
.signInPadding {
    padding-top: 0;
}

.fullPhoneNumbers {
    display: none;
}

.phoneNumber {
    font-size: 1.3rem;
}
.phoneButton {
    padding-top: .75rem;
}
.phoneButtonIcon {
    font-size: 1.25rem;
}
.phoneIcon {
    font-size: 1em;
}

.headerSearch {
    display: none;
}


/* Override Bootstrap  settings */
.btn {
    background-color: #e25e12;
    background-image: none;
}
.btn:hover {
    background-color: #c04d0b;
    background-image: none;
}
.btn:focus {
    background-color: #c04d0b;
    background-image: none;
}
.btn-default {
    text-shadow: none;
}
.align-center {
    margin-top: auto;
}

.caret {
    color: orange;

}

/* Make logo image responsive */
header img {
    max-width: 100%;
    height: auto;
}

/* Navigation Styling*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #e25e12;
    color: #ffffff;
}

.navbar-toggle {
    background-color: #e25e12;
    margin-right: 0;
    border-color: #fff;
}

.navbar {
    min-height: 0;
    margin-bottom: 0;
    border: none;
    font-size: 18px;
}
.icon-bar {
    background-color: #fff;
}

.navbar-default {
    border-color: #1a4212;    
}

.navbar-default .navbar-nav>.active>a {
    background-color: #e25e12;
    background-image: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}


.navbar-default:hover .navbar-nav>li>a:hover {
    color: #e25e12;
    text-shadow: none;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #e25e12;
    background-color: lightgrey;
}

/* Sets color of dropdown nav elements text to orange*/
.dropdown-menu>li>a {
    color: #e25e12;
}

/*************** Main Content Styling ****************/
.bodySearch {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.promotions {
    padding-top: .5em;
    line-height: 1.25rem;
    font-weight: bold;
    font-size: 1rem;
}

.header-promotions-bg {
    background-color: #adfbd0;
    min-height: 2.5rem;
    border-bottom: solid 1px #e25e12;
}
/* Text color on promotions banner e.g. Free Shipping */
.orange  {
    color: #e25e12;
}


.fullMain {
    background-image: url("../images/playerBackground.gif");
    background-size: 25%;
    opacity: .7;
    padding-left: 0;
    padding-right: 0;
}
.main {
    background:rgba(255,255,255,.5);
    box-shadow: 0px 0px 15px rgba(0,0,0,.2) inset;
/*    background-color: #ebebeb;*/
/*    opacity: .3*/
    min-height: 50em;
    padding-left: 0;
    padding-right: 0;
}



/* Styling for .sideNav and .coreContent for Demo purposes*/
.sideNav {
/*  background-color: palegreen;*/
  background:rgba(153, 255, 153, .2);
  min-height: 65em;
/*    color: lightgrey;*/
    display: none;
}
.coreContent {
/*    background-color: #e25e12;*/
    background:rgba(255, 153, 51, .15);
    min-height: 65em;
    width: 100%;
}

/* Sample Side Nav Styling 
All items in .subNavItems will ultimately be links.
Sample provided would be side nav for Gear page.
*/

.sideNav {
    display: none;
}
.sideNav ul {
    list-style: none;
    padding: 0;
}

.sideNav .primaryNavItems {    
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 3rem;
    
}
.sideNav a {
    display:block;
    text-decoration-color: none;
    color: #1a4212;
    padding-left: .5em;
    border-bottom: 1px solid lightgrey;
}

.sideNav a:hover {
    background-color: #e25e12;
    text-decoration: none;
    color: #fff;
}

.subNavItems {
    font-size: 1.75rem;
    font-style: italic;
    text-transform: none;
    line-height: 3rem;    
}

/*************** Footer Styling ****************/
.bodySearch {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.promotions {
    padding-top: .5em;
    line-height: 1.25rem;
    font-weight: bold;
    font-size: 1rem;
}
/*  Footer Styling */
footer {
    min-height: 20em;
}
footer.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.footerNav {
    color: white;
}

.footerNav a:hover { 
    color: #fff;
}

footer h3 {
    font-size: 2rem;
    font-weight: Bold;
    text-transform: uppercase;
}

.greenLetters {
    color: #1a4212;
    font-weight: bold;
}
centerContent {
    margin: auto;
}
.footerNavArea {
    color: #fff;
}

.footerNavArea a {
    text-decoration: none;
    color: white;
}

.footerNavArea a:hover {
    text-decoration: none;
    color: #e25e12;
}

/*======== Next 2 CSS statments centers footer nav elements and left justifies them =======*/
.footerNavBlock {
   text-align: center;
}
.footerNavElements {
    display: inline-block;
    text-align: left;
}
/*================================================================================*/

.footerNavElements ul {
    text-align: left;
    padding-left: 0;
}

.footerNavElements ul li {
    color: #fff;
    font-size: 1.25rem;
    font-style: italic;
    list-style: none;
    padding-left: 2px;
    line-height: 2em;
/*    text-align: center;*/
}

footer .copyright {
    color: #fff;
    padding-top:
}

.stayConnected {
    background-color: #adfbd0; 
    min-height: 5rem;  
}
.stayConnected {
    text-align: center;
}

.newsLetterSignup {
    padding-top: 1.5rem;
}

footer .social-media {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;    
}
footer .copyright {
    color: #fff;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;    
    font-style: italic;
    font-size: .75rem;
}

/* Key Social Media colors */
.fa-twitter-square {
    color: #60a9dc;
    font-size: 36px;
}
.fa-facebook-square {
    color: #3b579d;
    font-size: 36px;
}
.fa-google-plus-square {
    color: #D84B37;
    font-size: 36px;
}
.fa-tumblr-square {
    color: #35465c;
}

.fa-instagram {
    color: #517fa4;
    font-size: 36px;
}

.fa-pinterest-square {
    color: #cb2028;
    font-size: 36px;
}

/*
.navbar-default .navbar-nav>.active>a {
    background-color: #e25e12;
    border-left-color: #fff;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom: #e25e12;
    border-bottom-width: 3px;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
*/







/*
@media (min-width: 663px) {
    .displayPhoneNumbers {
        display: inline-block; 
    }

    
}
*/

/*
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    }
}
*/
  
.jq-elevator .jq-bottom:hover, .jq-elevator .jq-item:hover, .jq-elevator .jq-top:hover {
    opacity: .3;
}

/* accordion style */


.ac-pane { margin-bottom: 15px; background-color:#16A085; color:#fff;}

.ac-pane:last-child { margin-bottom: 0; }

.ac-content { display: none; }

.ac-title {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  padding: 12px;
  background-color:#1ABC9C;
}

.ac-title i {
  float: right;
  font-size: 20px;
}

.ac-title i:before { content: "\f107"; }

.active .ac-title i:before { content: "\f106"; }

.ac-content {
  border: 1px solid #fff;
  margin-top: -1px;
  padding: 15px;
}
/*  Media Queries */
@media (min-width: 768px) {
    .navbar-default .container {
        background-color: #1a4212;
    }
    .headerSearch {
        display: inline-block;
        margin-top: -8.5rem; 
/*        margin-top: -2.0em;*/ /* Place search bar under logo */
    }
    .navbar-header {
        display: none;
    }
    .bodySearch {
        display: none;        
    }
    
    .navbar-default .navbar-nav>li>a {
        color: #fff;
    }  
    .fullPhoneNumbers {
        display: inline-block;
            }
    .phoneButton {
        display: none;
    }
    .sideNav {
        display: block;
        width: 30%
    }
    .coreContent {
        width: 70%;
    }
    .element-padding {
        padding-top: 3rem;
}

}